{% extends "base.html" %}

{% block content %}
<hr>
    
    <button class="submit"><a href="{% url 'leads:home' %}">Leads</a></button>
    <h1>  This is all of Details of {{lead.first_name}} {{lead.last_name}} !! </h1>
   <p>This Peson's Age {{lead.age}}</p>
   <p>The Agent Responsible for this lead is : {{lead.agent}}</p>

   <hr/>
   <button><a href="{% url 'leads:update' lead.pk %}">Update</a></button>
   <button><a href="{% url 'leads:delete' lead.pk %}">Delete</a></button>
{% endblock content %}